i {
    font-size: 4em;
}

body {
    background-color: rgb(75, 70, 70);
}

#ticket-hound {
    background-color: darkgrey;
}

#lstrip-page {
    background-color: darkgrey;
}

#resistance-display {
    background-color: darkgrey;
}

#tech-stack {
    background-color: rgb(170, 166, 166);
}

.list-group .list-group-item {
    background-color: lightgray;
}

.pdf {
    width: 100%;
    aspect-ratio: 4 / 3;
}

.lstrip-image {
    height: 300em;
    width: 400em;
}

#intro {
    background-color: rgb(170, 166, 166);
}

i.inline {
    font-size: medium;
}

h1 {
    padding-left: 1.5%;
}

a {
    text-decoration: none;
    color: darkblue;
}